<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <script
    src="https://kit.fontawesome.com/2dc5983f48.js"
    crossorigin="anonymous"
  ></script>
    <link href="../ressources/style.css" rel="stylesheet" />
    <script src="../ressources/javascript.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <div>
        <img src="../ressources/images/logoNavBar.png" id="logo" />
      </div>

      <nav>
        <div class="hrefRow">
          <a href="">home</a>
          <a href="">about</a>
          <a href="">contact</a>
        </div>
        <div class="hrefRow">
          <a href="">connexion</a>
          <a href="">inscription</a>
         
        </div>
       
      </nav>
      <div class="bouton">
        <i class="fas fa-align-justify"></i>
      </div>
    </header>


    <div id="menu">
      <div class="href">
        <a href="">Home</a>
        <a href="">Qui sommes-nous?</a>
        <a href="">Nos produits</a>
        <a href="">Pour continuer le voyage</a>
      </div>
    </div>

    <section class="sect1">
      <img src="../ressources/images/organizLogo.png" id="logo2" />
    </section>

    <section class="sect2">
      <article>
        <h1>Qui sommes nous?</h1>
      </article>
      <article class="equipe">
        <div>
          <img src="../ressources/images/man.jpg" />
          <p>
            Didier <br />
            Developpeur web
          </p>
        </div>
        <div>
          <img src="../ressources/images/man.jpg" />
          <p>
            Didier <br />
            Developpeur web
          </p>
        </div>
        <div>
          <img src="../ressources/images/man.jpg" />
          <p>
            Didier <br />
            Developpeur web
          </p>
        </div>
        <div>
          <img src="../ressources/images/man.jpg" />
          <p>
            Didier <br />
            Developpeur web
          </p>
        </div>
      </article>

      <article class="propos">
        <h1>A propos</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam
          architecto quaerat ea ratione, molestias fuga cumque omnis distinctio!
          Exercitationem ullam doloremque cumque voluptate beatae impedit rem
          veritatis eaque temporibus dolores. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Odit laboriosam officia cupiditate, vero
          ab asperiores cum dicta, sunt assumenda ut nobis quis dolorem et
          ducimus libero non magni, hic corporis. Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Earum deserunt animi vitae? Sint cumque
          et ea laboriosam, itaque, sapiente architecto a eos voluptatibus
          officia error id expedita labore hic ipsum.
        </p>
      </article>
    </section>
    <section class="sect3">
      <div class="back">
        <div class="contact">
          <h1>Contact</h1>

          <p>
            Une question, un renseignement ? Vous pouvez nous contacter
            directement via ce formulaire
          </p>
        </div>

        <form>
          <div>
            <input type="texte" name="nom" placeholder="Nom" />

            <input type="texte" name="prenom" placeholder="Prenom" />

            <input type="mail" name="mail" placeholder="E-mail" />
          </div>

          <div>
            <input type="texte" name="sujet" placeholder="Sujet" />

            <textarea
              name="prenom"
              placeholder="Message"
              class="textea"
            ></textarea>
          </div>
        </form>
        <input type="submit" value="Envoyer" class='envoyer'/>
      </div>
      <div class="faq">
        <p>FAQ</p>
        <p>Privacy Policy</p>
      </div>
    </section>
  </body>
</html>
