<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link href="../ressources/style.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div>
        <img src="../ressources/images/logoNavBar.png" id="logo" />
      </div>

      <nav>
        <div>
          <a href="">home</a>
          <a href="">about</a>
          <a href="">contact</a>
        </div>
        <div>
          <a href="">connexion</a>
          <a href="">inscription</a>
        </div>
      </nav>
    </header>

    <section class="sect1">
      <img src="../ressources/images/organizLogo.png" id="logo2" />
    </section>

    <section class="sect2">
      <article>
        <h1>Qui sommes nous?</h1>
      </article>
      <article class="equipe">
        <div>
          <img src="../ressources/images/man.jpg" />
          <p>
            Didier <br />
            Developpeur web
          </p>
        </div>
        <div>
          <img src="../ressources/images/man.jpg" />
          <p>
            Didier <br />
            Developpeur web
          </p>
        </div>
        <div>
          <img src="../ressources/images/man.jpg" />
          <p>
            Didier <br />
            Developpeur web
          </p>
        </div>
        <div>
          <img src="../ressources/images/man.jpg" />
          <p>
            Didier <br />
            Developpeur web
          </p>
        </div>
      </article>

      <article class="propos">
        <h1>A propos</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam
          architecto quaerat ea ratione, molestias fuga cumque omnis distinctio!
          Exercitationem ullam doloremque cumque voluptate beatae impedit rem
          veritatis eaque temporibus dolores. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Odit laboriosam officia cupiditate, vero
          ab asperiores cum dicta, sunt assumenda ut nobis quis dolorem et
          ducimus libero non magni, hic corporis. Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Earum deserunt animi vitae? Sint cumque
          et ea laboriosam, itaque, sapiente architecto a eos voluptatibus
          officia error id expedita labore hic ipsum.
        </p>
      </article>
    </section>
    <section class="sect3">
      <div class="back"></div>
      <div class="faq">
        <p>FAQ</p>
        <p>Privacy Policy</p>
      </div>
    </section>
  </body>
</html>
