/*__________Déclaration de base_________*/


@font-face { 	
    font-family: "OpenSans"; 	
    src: url('../fonts/OpenSans-Regular.ttf'); 
}



p{
    font-family:'OpenSans';
    text-align:center;
}

b{
    color:white;
    font-size:20px;
}


body{
    
    margin:0;
    background-color:#3399cc;
}

/*_______NAVBAR______*/

header{
    display:flex;
    align-items:center;
    
    flex-direction:row;
    width:100%;
    background-color:#3399cc;
    min-height: 60px;
    
}

nav{
    display:flex;
    width: 100%;
    justify-content: space-between;

}


header nav div{
    width:100px;
    height:60px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

a{
    text-decoration:none;
    color:white;
    font-family:'OpenSans';
    font-size:19px;
}
.logo{
    margin-left:5px;
    width:55px;
    height:auto;
    
}

.liens1 a{
    display:flex;
    flex-direction:row;
    align-self:center;
    
}

.liens2 a{
    margin-right: 30px;
}

/*_______Section ellipse______*/

.ellipse{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:25vh;
    background-color:whitesmoke;
    clip-path: ellipse(63% 82% at 50% 0%);
}

h1{
   

    color:grey;
    font-size:30px;
   text-align: center;
    font-family:'OpenSans';
    margin-top:60px;
}

.soustitre a{
    color:#3399CC;
}

.soustitre p{
    color:grey;
}

/*______ Section flex formulaire______*/

.section2{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap:wrap;
    width:100%;
    height:64vh;
    
}

.gauche{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    width:400px;
    height:500px;
    
}

.droite{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    width:400px;
    height:500px;
    
    
}

input{
    background-color:whitesmoke;
    border:2px solid whitesmoke;
    border-radius:5px;
    height:30px;
    width:300px;
}

textarea{
    background-color:whitesmoke;
    border:2px solid whitesmoke;
    border-radius:5px;
    height:100px;
    width:300px;
}

.champ{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:407px;
    color:whitesmoke;
    font-family:'OpenSans';
}

button{
    
    border:3px solid darkslategray;
    border-radius:10px;
    background-color:#58585A;
    color:whitesmoke;
    font-family:'OpenSans';
    height:40px;
}

footer{
    
    width:100%;
    height:40px;
    align-items:center;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}




@media all and (max-width:850px){
    footer{
        margin-top:250px;
    }

    h1{
        margin-top:20px;
    }
}

@media all and (max-width:380px){
    footer{
        margin-top:480px;
    }

}