
* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin:0;
  box-sizing: border-box;
  }



table{
width: 100%;
border:1px solid grey;
}


td {
  border-left: solid 1px grey;
  
}


header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 100px;
	
}

header h1{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px;
}

.tableauInt table thead tr th{
  background-color: rgb(41, 153, 153);
  color: azure;
}




/***********************************************correction au dessus*******************************************/

section{
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}

.int{
	  width: 90%;
}

.tableauInt {
  width: 100%;
}


.devis{
  height: 80px;
  width: 100px;
  border: 1px solid #333;
}

.prix{
  position: absolute;
right: 10px;
    width: 50% ;

}




 